.box {
  min-width: 3em;
  max-width: calc( @min-width + 5em );
  min-height: 2em;
  padding: 1em;
}

.base {
  @extend .box;
  
  border: thin solid black;
  color: azure;
  background: darkgray;
}

.base .child {
  @extend .box;
  
  border: thin solid white;
  background: lightgray;
  color: purple;
}

.derived {
  @extend .base;
  
  border-width: 2em;
}
